// Colors Palette
$color1: #000;
$color2: #fff;
$color3: #cf0b0b;
$color4: #97080b;
$color5: #ca031a;
$color6: #7c7c7c;


// Sombras y Neo
$black: #393939;
$white: #ececec;
$shadow1: #c9c9c9;
$shadow2: #ffffff;
$borderBlack: #00000050;